<h3>
  Welcome {{customerDetails?.name}} !!!
</h3>
<br>
<div class="shadow p-3 mb-5 bg-white rounded">
  <h2 style="text-align: center"> My Profile </h2>
  Name: {{customerDetails?.name}}<br><br>
  Pan Number:  {{customerDetails?.pan}}  <br><br>
   Phone Number: {{customerDetails?.phoneNo}}<br><br>
  User Name : {{customerDetails?.userName}}<br><br>
  Address: {{customerDetails?.address}}<br><br>
  City :{{customerDetails?.city}}<br><br>
  state: {{customerDetails?.state}}<br><br>
  Zip:{{customerDetails?.zip}}<br><br>
</div>

